body{
    background: #615466;
}
ul{
    margin: 0;
    padding: 0;
}
.gototop{
    position: fixed;
    z-index: 999;
    font-size: 50px;
    color: #eedeab;
    bottom: 20px;
    right: 20px;

}
.back-hed{
    background: #fcf8e3;
    position: absolute;
}
.back-hed img{
    width: 100%;
    height: 100%;
}
.miring{
    width: 100%;
    background: #fa9e91;
}
.miring img{
    width: 100%;

}
.gambar{
    width:50%;
}
.gambar img{
    width: 100%;
}
.jaraktulisan{
    margin-top: 280px;
}

.myname{
    font-size: 55px;
    color: #fa9e91;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
.kiri{
    margin-top: 7px;
}
.kiri img{
    opacity: 0.9;
}
.namabelakang{
    font-size: 25px;
    color: #ccc;
    margin: 0!important;
}
.aku{
    margin-left: 30px;
    padding-top: 20px;
}
.kanan{
    margin-left: 40px;
}
.hello{
    font-size: 30px;
    color: #fa9e91;
    font-style: italic;
    text-align: center;
}

.blok2{
    background: #615466;
}
.kotak-hello{
    padding-top: 100px;
}
.vertikal-line{
    height: 200px;
    border-left: 1px solid #999;
    position: absolute;
}
.jarak{
    margin-top: 130px;
}
.turun i{
    font-size: 30px;
    margin-left: 10px;
}
.page{
    position: relative;
    width: 100%;
}
.kotak-atas{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 50px;
}
.sub-navigasi{
    position: relative;
    width: 55%;
    height: 50px;
    z-index: 1;
    top:0px;
    margin: 0 auto;
    display: none;
}
.sub-navigasi li{
    width: 100%;
    height: 50px;
    list-style: none;
    background: #fa9e91;
    padding: 10px;
    font-family: 'Lobster', cursive;
    font-size:17px;
    text-align: center;
    border-bottom: 1px solid #615466;
}
.sub-navigasi li a{
    color: #fff;
}
.nama{
    font-size: 55px;
    font-family: 'Lobster', cursive;
    text-align: center;
}
.nama a{
    color: #fa9e91;
}
.nama i{
    font-size: 35px;
    margin-left: 10px;
}
.garis{
    opacity: 0.2;
    margin-top: -25px;
}
.kotak-hitam{

}
.kotak-about{
    margin-top:5px;
}
.tulisan{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    color:#fa9e91;
    text-align: center;
    font-weight: bold;

}
.tulisan1{
    font-size: 18px;
    color:#fa9e91;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.about{
    font-size: 16px;
    color:#fff;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    background: #fa9e91;
    padding: 0 5px;
}
.hitam{
    font-weight: bold;
    font-size: 16px;
    color: #fa9e80!important;
}
.parsatu{
    font-size:21px;
    padding: 10px 0;
    color:#fa9e91;

    font-family: 'Josefin Sans', sans-serif;
}
.pardua{
    font-size:21px;
    padding: 10px 0;
    color:#fa9e91;
    font-family: 'Josefin Sans', sans-serif;
}
.hello-there{
    font-size: 40px;
    color: #fa9e91;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    padding-bottom: 25px;
}
.hello-there span{
    height: 73%;
    padding-right: 73%;
    font-weight: normal;
    font-size: 48px;
    color: #fff;
    border-bottom: 2px solid #fa9e91;
}
.icon{
    padding: 15px 0;
    position: absolute;

}
.icon ul{
    margin: 0;
    padding: 0;
}
.icon li{
    list-style: none;
    float: left;
    border: 1px solid #999;
    margin-right: 5px;
    padding:5px 10px; 
    background: #eedeab;
}
.icon li i{
    font-size: 16px;
    color: #615466;
}
.ttd{
    margin-top: -50px;
    opacity: 0.3;
}
.nava{
    position: absolute;
    opacity: 0.1;
}

.testimonial
{
    padding: 50px 0;
    background: #615466;
}
.judul-testi{
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    color: #eedeab;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.nama-quote{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bold;
    padding: 10px ;
    color: #fa9e91;
}
.kskill{
    background: #615466;
}
.skill{
    margin: 80px 0;
}
.judul-skill{
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color:#615466;
    text-align: center;
    padding: 50px 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
    background: url(../../assets/image/judul2.png)center center no-repeat;
}
.progress{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
}
.progress-bar-danger{
    background: #fa9e91!important;
}
.judul-myskill{
    color: #eedeab;
    border-bottom: 3px solid #eedeab;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
}
.work{

}
.work img{
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
} 
.porto{
    margin:80px 0;
}
.kotak-putih{
    background: #eedeab;
    padding: 15px 5px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.10);
}
.judul-work{
    font-weight: bold;
    font-size: 16px;
    color:#615466;

}
.shadow{
    border:1px solid #fff;
    padding: 5px;
    padding-bottom: 10px;
}
.shadow img{
    width: 100%;
    height: 100%;
    position: relative;
    border:1px solid #fff;
}

.penjelasan-work{
    margin-top: 10px;
    background: #eedeab;
    text-align: center;
    font-size: 18px;
    color: #615466;
    padding: 5px 0;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
}
.education{
    background: #615466;
}
.kotak-edu{
    margin: 0 0 0 0;
    margin-bottom: 15px;
    padding: 0;

}
.merah{
    background: #eedeab;
    padding: 10px;
    position:relative;
    height: 115px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
}
.merahku{
    background: #eedeab;
    padding: 10px;
    position:relative;
    height: 105px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
}
.font-jose{
    font-family: 'Josefin Sans', sans-serif;
}
.penjelasan-edu{
    font-size: 10px;
    padding-top: 6px;
    color: #ccc;
}
.nama-edu{
    font-weight: bold;
    font-size: 14px;
}
.putih{
    padding:10px;
    background:#fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
}
.putihku{
    padding: 10px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
}
.kotak-educ{
    font-family: 'Lobster', cursive;
    margin:80px 0;
}
.kotak-educa{
}
.testi{
    background:rgba(254,254,254,0.2);
    margin-top: 80px;
    color:#fa9e91;
    text-align: center;
    font-size: 25px;
    border:2px dashed #fa9e91;
    padding: 40px;
    font-family: 'Josefin Sans', sans-serif;
}
.miring h3{
    color: #615466;
    margin-top: -10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    background:rgba(254,254,254,0.2);
    border: 2px dashed #615466;
    padding: 10px 0;
}
.control-label{
    font-family: 'Lobster', cursive;
    font-size: 16px;
    color:#615466;
}
.form-group input{
    opacity: 0.5;
    border-radius:0;
    border:none;
    background: #615466;
    color: #fff;
}
.formm{
    margin-top: 50px;

}
.orr{
    margin-top: 50px;

}
.me{
    color: #615466;
    font-size: 18px;
    padding-bottom: 20px;
    font-family: 'Lobster', cursive;

}
.me i{
    color:#615466;
    background: #eedeab;
    padding :10px;
}
.me span{
    border:2px dashed #fff;
    padding: 5px;
    background:rgba(254,254,254,0.2);
}
.tombol{
    background: #eedeab;
    color: #615466;
    font-size: 18px;
    font-weight: bold;
    border:none;
    border-radius: 0;
    width: 100%;

    font-family: 'Lobster', cursive;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}
.contact{
    padding: 50px 0;
    background: #fa9e91;
    padding-bottom: 100px;
}
.contact img{
    width: 95%;
    height: 90%;
    overflow: hidden;
    position: absolute;
}
.bg-pink{
    background: #fa9e91;
}
.touch{

}
.footer{
    height: 130px;
    background: #615466;
}
.tulisan2{
    font-family: 'Lobster', cursive;
    color: #fa9e91;
    font-size: 16px;
    font-weight: bold;
    padding-top: 50px;
}
.pink{
    background: url(../../assets/image/foot.png) center no-repeat;
    height: 50px;
}
.reserv{
    color: #fff;
}
.ca-container{
    position:relative;
    margin:25px auto 20px auto;
    width:990px;
    height:450px;
}
.ca-wrapper{
    width:100%;
    height:100%;
    position:relative;
}
.ca-item{
    position:relative;
    float:left;
    width:330px;
    height:100%;
    text-align:center;
}
.ca-more{
    position: absolute;
    bottom: 10px;
    right:0px;
    padding:4px 15px;
    font-weight:bold;
    background: #ccbda2;
    text-align:center;
    color: white;
    font-family: "Georgia","Times New Roman",serif;
    font-style:italic;
    text-shadow:1px 1px 1px #897c63;
}
.ca-close{
    position:absolute;
    top:10px;
    right:10px;
    background:#fff url(../images/cross.png) no-repeat center center;
    width:27px;
    height:27px;
    text-indent:-9000px;
    outline:none;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    opacity:0.7;
}
.ca-close:hover{
    opacity:1.0;
}
.ca-item-main{
    padding:20px;
    position:absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    background:#fff;
    overflow:hidden;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
.ca-icon{
    width:233px;
    height:189px;
    position:relative;
    margin:0 auto;
    background:transparent url(../image/zonatikb2c.PNG) no-repeat center center;
}
.ca-item-2 .ca-icon{
    background-image:url(../image/ZONATIKHOTEL.png);
}
.ca-item-3 .ca-icon{
    background-image:url(../image/animal3.png);
}

.ca-item h3{
    font-family: 'Coustard', sans-serif;
    text-transform:uppercase;
    font-size:30px;
    color:#000;
    margin-bottom:20px;
    height:85px;
    text-align:center;
    text-shadow: 0px 1px 1px #e4ebe9;
}
.ca-item h4{
    font-family: "Georgia","Times New Roman",serif;
    font-style:italic;
    font-size:12px;
    text-align:left;
    border-left:10px solid #b0ccc6;
    padding-left:10px;
    line-height:24px;
    margin:10px;
    position:relative;
}
.ca-item h4 span{
    text-indent:40px;
    display:block;
}
.ca-item h4  span.ca-quote{
    color:#f4eee3;
    font-size:100px;
    position:absolute;
    top:20px;
    left:0px;
    text-indent:0px;
}
.ca-content-wrapper{
    background:#b0ccc6;
    position:absolute;
    width:0px; /* expands to width of the wrapper minus 1 element */
    height:440px;
    top:5px;
    text-align:left;
    z-index:10000;
    overflow:hidden;
}
.ca-content{
    width:660px;
    overflow:hidden;
}
.ca-content-text{
    font-size: 14px;
    font-style: italic;
    font-family: "Georgia","Times New Roman",serif;
    margin:10px 20px;
    padding:10px 20px;
    line-height:24px;
}
.ca-content-text p{
    padding-bottom:5px;
}
.ca-content h6{
    margin:25px 20px 0px 35px;
    font-size:32px;
    padding-bottom:5px;
    color:#000;
    font-family: 'Coustard', sans-serif;
    color:#60817a;
    border-bottom:2px solid #99bcb4;
    text-shadow: 1px 1px 1px #99BCB4;
}
.ca-content ul{
    margin:20px 35px;
    height:30px;
}
.ca-content ul li{
    float:left;
    margin:0px 2px;
}
.ca-content ul li a{
    color:#fff;
    background:#000;
    padding:3px 6px;
    font-size:14px;
    font-family: "Georgia","Times New Roman",serif;
    font-style:italic;
}
.ca-content ul li a:hover{
    background:#fff;
    color:#000;
    text-shadow:none;
}
.ca-nav span{
    width:25px;
    height:38px;
    background:transparent url(../image/arrows.png) no-repeat top left;
    position:absolute;
    top:50%;
    margin-top:-19px;
    left:-40px;
    text-indent:-9000px;
    opacity:0.7;
    cursor:pointer;
    z-index:100;
}
.ca-nav span.ca-nav-next{
    background-position:top right;
    left:auto;
    right:-40px;
}
.ca-nav span:hover{
    opacity:1.0;
}